@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* resets */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

/* estilos generales */

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.baVietnam{
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* estilo principal */

html{
    background: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 200px -20%;
    font-size: 15px;
}


.getStarted-btn{
    box-shadow: 0px 4px 7px rgba(255, 134, 64, 0.25);
    transition: all 200ms linear;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    background-color: #F3603B;
    color: #FFFFFF;
}

.getStarted-btn:hover{
    transform: translateY(-.25rem);
    opacity: 0.7;
    box-shadow: 0 10px 15px -3px rgba(255, 134, 64, 0.35), 0 4px 6px -4px rgba(255, 134, 64, 0.35);
}

.btn-white{
    background-color: #FFFFFF;
    color: #F3603B;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8rem 0;
    max-width: 1000px;
    padding: 0.75rem;
    width: 100%;
}

.hero-image{
    width: 100%;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    max-width: 550px;
    max-width: 500px;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.hero-title{
    color: #232C50;
    font-size: 3rem;
    padding: 0.5rem;
    letter-spacing: -0.035em;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    max-width: 450px;
}

.description{
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 400px;
    color: #9ca3af;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

#difference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

}

.difference-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.difference-title{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #232C50;
    text-align: center;
    padding: 0.5rem;
    max-width: 380px;
}

.diff-list{
    width: 100vw;
    overflow-x: hidden;
}

.diff-list-item{
    display: flex;
    align-items: flex-start;
}

.list-num{
    display: none;
}

.diff-list-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.75rem;
}

.diff-list-title{
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #232C50;
    background-color: #f3613c42;
    margin-bottom: 1.25rem;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    width: 100vw;
}

.diff-list-title span{
    display: flex;
    border-radius: 9999px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #F3603B;
    margin-right: 1rem;
}

.diff-list-text{
    color: #9ca3af;
    max-width: 350px;
    margin-bottom: 3rem;
}

#opinions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.opinions-title{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #232C50;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#carrousel{
    display: flex;
    flex-wrap: nowrap;
    max-width: 100vw;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 4rem 1rem 2rem 1rem;
}

.carrousel-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    flex-shrink: 0;
    background-color: #f9fafb;
    padding: 1rem;
    padding-top: 0;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    margin-right: 1rem;
}

.carrousel-item img{
    width: 5rem;
    position: absolute;
    transform: translateY(-50%);
}

.carrousel-item h5{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
}

.carrousel-item p{
    text-align: center;
    color: #9ca3af;
    padding: 1rem 2rem 3rem 2rem;
}

.points-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.points-wrapper :not(:last-child){
    margin-right: .5rem;
}

.item-point{
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #F3603B;
    background-color: #FFFFFF;
    border-radius: 9999px;
}

.item-point-active{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #F3603B;
    border-radius: 9999px;
}

#simplify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3603B;
    padding: 4rem 1.25rem;
    background-image: url('../images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
}

.simplify-title{
    color: #FFFFFF;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    font-weight: 500;
    max-width: 280px;
    margin-bottom: 2rem;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E26;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#subscribe-form{
    display: flex;
}

#subs-email{
    display: flex;
    margin-right: 0.5rem;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #FFFFFF;
    padding:  0 1rem;
}

#subs-email:valid{
    border-color: #22c55e;
}

#subs-email:invalid{
    border-color: #dc2626;
}

.footer-links-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 450px;
    margin: 4rem 0;
}

.footer-links-ul{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.footer-links-ul :not(:last-child){
    margin-bottom: 1rem;
}
.footer-links{
    color: #FFFFFF;
}

.footer-links:hover{
    color: #F3603B;
}

.media-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 350px;

}

.media-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    aspect-ratio: 1 / 1;
}

.media-icon img{
    width: 100%;
}

.logo-footer{
    margin: 2.5rem 0;
}

.copyright{
    color: #9ca3af;
}

@media (min-width: 640px){
    .hero-title{
        font-size: 3.75rem;
        line-height: 1;
    }
  
}

@media (min-width: 768px) {
    #hero{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 8rem auto;
    }

    .hero-image{
        width: 50%;
    }

    .hero-container{
        order: -2;
        align-items: flex-start;
    }

    .hero-title{
        text-align: left;
    }

    .description{
        text-align: left;
    }

    #difference{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .difference-container{
        order: -2;
        margin-bottom: 0px;
        padding-top: 0px;
    }

    .difference-title{
        text-align: left;
        padding-top: 0px;
    }

    .diff-list{
        width: auto;
        padding: 1rem;
    }

    .list-num{
        display: flex;
        border-radius: 9999px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #F3603B;
    }

    .diff-list-content{
        margin-left: 1.25rem;
        max-width: 500px;
        align-items: flex-start;       
    }

    .diff-list-title{
        font-size: 1.125rem;
        line-height: 1.75rem;
        background: none;
        width: auto;
    }

    .diff-list-title span{
        display: none;
    }

    #carrousel{
        justify-content: space-evenly;
        overflow: hidden;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .carrousel-item{
        margin-right: 0px;
        width: 30%;
    }

    .points-wrapper{
        display: none;
    }

    #simplify{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .simplify-title{
        max-width: 450px;
        margin-bottom: 0;
    }
    
    
}

@media (min-width: 1024px) {
    /* html{
        background: url('../images/bg-tablet-pattern.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 120% -50%;
    } */
    #difference{
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
    }
    #simplify{
        background-image: url('../images/bg-simplify-section-desktop.svg');
    }

    .footer-container{
        padding: 4rem 0;
    }

    #subscribe-form{
        position: absolute;
        top: 4rem;
        right: 1.5rem;
    }
    .footer-links-container{
        margin: 0 auto;
    }

    .media-container{
        max-width: 250px;
        position: absolute;
        bottom: 4rem;
        left: 1.5rem;
    }

    .logo-footer{
        margin: 0;
        position: absolute;
        left: 1.5rem;
        top: 4rem;
    }

    .copyright{
        position: absolute;
        right: 1.5rem;
        bottom: 4rem;
    }
}